:root
{
--color-primary: #222831;
--font-primary: "dancing script", sans-serif;


}


*{
    margin: 0px;
    padding: 0px;
}

#text{
   
font-family:var(--font-primary);

    
}


header{
    font-family: "open sans" , sans-serif;
   
}



#section-1{
    font-family: var(--font-primary);

    #box{
         background: var(--color-primary);
    }
   a{
     font-family: "open sans" , sans-serif;
   }

}

#footer{
    background: var(--color-primary);
    
   
    p{
        font-size: 17px;

    }
    span{
        font-family: var(--font-primary);
    }

  
 
    
}







/* ===========About */

main{
    background: #222831;

    h1{
        font-family: "dancing script";
    }
}

section{
    h1{
        font-family: "dancing script";
    }
}